{% extends "base.html" %}
{% block cuerpo %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card">
            <div class="card-body">
                <form action="/editarSucursal/" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <input type="number" id="txtcodigo" name="txtcodigo" class="form-control" value="{{ missucursales.id_sucursal }}" readonly>
                    </div>
                    <div class="form-group py-3">
                        <input type="text" id="txtnombre" name="txtnombre" class="form-control" value="{{ missucursales.nombre_sucursal }}" required>
                    </div>
                    <div class="form-group py-3">
                        <textarea id="txtcalle" name="txtcalle" class="form-control" required>{{ missucursales.calle_sucursal }}</textarea>
                    </div>
                    <div class="form-group py-3">
                        <input type="number" id="txtempleados" name="txtempleados" class="form-control" value="{{ missucursales.num_empleados }}" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="number" id="txttelefono" name="txttelefono" class="form-control" value="{{ missucursales.tel_sucursal }}" required>
                    </div>
                    <div class="form-group py-2">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
